RewriteEngine On
RewriteBase /

# Don't rewrite files/folders that exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Send everything to root index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
